.register-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 0;
}

.back-button {
    position: absolute;
    left: 40px;
    top: 120px;
    padding: 8px 16px;
    background: none;
    border: none;
    font-size: 16px;
    color: #666;
    cursor: pointer;
}

.back-button:hover {
    color: #333;
}

.register-title {
    font-size: 32px;
    font-weight: bold;
    color: #000000;
    margin-bottom: 40px;
}

.register-form {
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.profile-upload {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.profile-preview {
    position: relative;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
    border: 2px solid #E5E5E5;
    background-color: #E5E5E5;
    color: #E5E5E5;
}

.profile-plus {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: 26px;
    color: #555;
}
 
.profile-preview img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}

.profile-label {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    color: #666;
}

.profile-upload-title {
    font-weight: 500;
    color: #000000;
    width: 100%;   
    text-align: left;
    position: relative;
}

.input-group {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 32px;
}

.input-group input {
    height: 40px;
    padding: 0 12px;
    border: 2px solid #7d7d7d;
    border-radius: 8px;
    font-size: 16px;
}

.input-group input:focus {
    border-color: #7F6AEE;
    outline: none;
}

.input-group input.error {
    border-color: #FF4444;
}

.input-group input::placeholder {
    color: #999999;
}

.input-group label {
    font-size: 16px;
    font-weight: bold;
    color: #333333;
}

.helper-text {
    font-size: 12px;
    color: #666666;
    margin-top: 4px;
}

.error-message {
    color: #FF4444;
    font-size: 12px;
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: 4px;
}

.required {
    color: #FF4444;
    font-size: 14px;
    margin-left: 4px;
}

.register-button {
    height: 48px;
    background: #ACA0EB;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3s;
}

.register-button:disabled {
    background: #ACA0EB;
    cursor: not-allowed;
    opacity: 0.7;
}

.register-button:not(:disabled):hover {
    background: #7F6AEE;
}

.login-link {
    height: 48px;
    background: none;
    border: 1px solid #E5E5E5;
    border-radius: 8px;
    font-size: 16px;
    color: #666;
    cursor: pointer;
}

.login-link:hover {
    background: #F5F5F5;
} 